.list {
  all: unset;

  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;

  width: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  width: 100%;

  & a {
    position: relative;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;

    width: 100%;
    min-height: 50px;
    padding-left: 50px;

    &.active {
      &::before {
        content: '';

        position: absolute;
        left: 0;

        display: block;

        width: 12px;
        height: 100%;

        background-color: var(--color-dark-accent-1);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  background-color: var(--color-dark-accent-1);
  border-radius: 10px;
}
