.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.signInBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 395px;
  height: 100%;
  padding: 50px 30px;
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.button {
  margin-bottom: 40px;
  padding: 16px 65px;
}

.buttonLink {
  font-size: small;
  color: var(--color-dark-text-accent);

  &:hover {
    color: var(--color-dark-text-accent);
  }
}
