:root {
  --color-dark-primary: #0f110f;
  --color-dark-secondary: #222;
  --color-dark-text: #fff;
  --color-dark-text-secondary: #a9a9a9;
  --color-dark-accent-1: #06b677;
  --color-dark-accent-2: #17bd0d59;
  --color-dark-accent-3: #ff434e;
  --color-dark-icons: #fff;
}
