:root {
  --font-family-primary: 'Inter Variable', sans-serif;

  // font sizes
  --font-size-xs: 1rem;
  --font-size-s: 1.125rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3 rem;
}
