.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;

  &.auth {
    grid-template-columns: auto 4fr;
  }

  @media screen and (width <=768px) {
    display: block;
  }
}

.main {
  grid-area: 2/2/3/3;

  &:not(.auth) {
    grid-area: 2/1/3/2;
  }

  &.mobile {
    height: 100vh;
    padding-top: 80px;
  }
}
