.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  &:not(.auth) {
    & > * {
      padding: 0 40px;
    }

    @media screen and (width <=768px) {
      display: block;
      padding-top: var(--header-not_auth-heigth);
    }
  }

  &.auth {
    grid-template-columns: auto 4fr;
  }

  @media screen and (width <=768px) {
    display: block;
    padding-top: var(--header-heigth);
  }
}

.main {
  grid-area: 2/2/3/3;
  padding: 0 40px;

  &:not(.auth) {
    grid-area: 2/1/3/2;
    min-height: calc(100vh - var(--header-not_auth-heigth));
    padding: 0 40px;

    &.mobile {
      padding: 0 40px;
    }
  }

  &.mobile {
    min-height: calc(100vh - var(--header-heigth));
    padding: 0 20px;
  }
}
