.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: min-content;

  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  transition:
    200ms background-color,
    200ms color;

  &:focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  composes: button;
  color: var(--color-text);
  background-color: var(--color-dark-accent-1);
  box-shadow: 0 4px 18px rgb(23 189 13 / 35%);

  &:hover:enabled {
    background-color: var(--color-dark-accent-2);
  }

  &:active:enabled {
    background-color: var(--color-dark-accent-2);
  }
}

.link {
  composes: button;
  color: var(--color-text);
  background-color: var(--color-dark-accent-1);
  box-shadow: 0 4px 18px rgb(23 189 13 / 35%);

  &:hover {
    background-color: var(--color-dark-accent-2);
  }

  &:active {
    background-color: var(--color-dark-accent-2);
  }
}
