.header {
  position: sticky;
  z-index: 9999999;

  grid-area: 1/1/2/2;

  height: var(--header-not_auth-heigth);

  font-size: var(--font-size-s);

  background-color: var(--color-dark-secondary);

  &.logged {
    top: 0;

    grid-area: 1/2/2/3;

    height: var(--header-heigth);
    padding: 0 40px;

    background-color: var(--color-dark-primary);
  }

  @media screen and (width <=768px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;

  @media screen and (width <=768px) {
    justify-content: center;
  }
}

.logoWrapper {
  &.logged {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.logotipe {
  max-height: 55px;
}

.navbarLoginBlock {
  display: flex;
  gap: 140px;
  align-items: center;

  @media screen and (width <=768px) {
    gap: 70px;
  }

  @media screen and (width <=576px) {
    gap: 30px;
  }
}
