.progress {
  position: absolute;
  left: 0;

  width: 100%;
  height: 0.25em;

  font-size: 16px;
  color: var(--color-dark-accent-1);

  appearance: none;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243) 0.12);
  border: none;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  /* Determinate */

  &::-webkit-progress-value {
    background-color: currentcolor;
    transition: all 0.2s;
  }

  &::-moz-progress-bar {
    background-color: currentcolor;
    transition: all 0.2s;
  }

  &::-ms-fill {
    background-color: currentcolor;
    border: none;
    transition: all 0.2s;
  }

  /* Indeterminate */

  &:indeterminate {
    background-image: linear-gradient(
      to right,
      transparent 50%,
      currentcolor 50%,
      currentcolor 60%,
      transparent 60%,
      transparent 71.5%,
      currentcolor 71.5%,
      currentcolor 84%,
      transparent 84%
    );
    background-size: 200% 100%;
    animation: pure-material-progress-linear 2s infinite linear;
  }

  &:indeterminate::-moz-progress-bar {
    background-color: transparent;
  }

  &:indeterminate::-ms-fill {
    animation-name: none;
  }

  @keyframes pure-material-progress-linear {
    0% {
      background-position: left -31.25% top 0%;
      background-size: 200% 100%;
    }

    50% {
      background-position: left -49% top 0%;
      background-size: 800% 100%;
    }

    100% {
      background-position: left -102% top 0%;
      background-size: 400% 100%;
    }
  }
}
